---
---

@import "{{ site.theme }}";

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
}

.project {
    height: 200px;
    width: auto;
    border-radius: 32px;
    border: 1px solid #ddd;
}

.people-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.person {
    height: 200px;
    width: auto;
    border-radius: 32px;
    border: 1px solid #ddd;
}

header li {
    float: none;
    border-right: none;
    height: 30px;
}

header ul {
    height: auto;
    border: none;
    background: none;
    position: static;
}

header ul a {
    line-height: 16.5px;
    font-size: 12px;
    color: #267CB9;
    display: block;
    text-align: left;
    padding-top: 0px;
    height: auto;
}

.tight-h3 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.image-and-text {
    display: flex;
    align-items: center;
}

$secwidth: 75vw;
$secminwidth: 200px;
$secmaxwidth: 1000px;
$headerwidth: 270px;
$wrappermargin: 50px;
$bigpadding: 50px;

.wrapper {
    width: calc(#{$secwidth} + #{$headerwidth} + #{$wrappermargin});
    min-width: calc(#{$secminwidth} + #{$headerwidth} + #{$wrappermargin});
    max-width: calc(#{$secmaxwidth} + #{$headerwidth} + #{$wrappermargin});
}

section {
    width: calc(#{$secwidth});
    min-width: calc(#{$secminwidth});
    max-width: calc(#{$secmaxwidth});
}

@media print, screen and (max-width: calc(4 * #{$headerwidth} + 4 * #{$wrappermargin})) {
    div.wrapper { width: auto; }
    section { width: calc(100vw - #{$headerwidth} - #{$wrappermargin} - 2 * #{$bigpadding}); }
}    

@media print, screen and (max-width: 960px) {
    body { padding: 15px; }
    div.wrapper { width: auto; min-width: auto; max-width: auto; }
    header, section, footer { width: calc(100vw - 50px); }
}
