---
---

@import "{{ site.theme }}";

.people-grid {
    width: 100%;
    float: left;
}

.people {
    width: 200px;
    float: left;
    padding: 7px;
    margin: 5px;
}

header li {
    float: none;
    border-right: none;
    height: 30px;
}

header ul {
    height: auto;
    border: none;
    background: none;
    position: static;
}

header ul a {
    line-height: 16.5px;
    font-size: 12px;
    color: #267CB9;
    display: block;
    text-align: left;
    padding-top: 0px;
    height: auto;
}

$secwidth: 75vw;
$secminwidth: 200px;
$secmaxwidth: 1000px;
$headerwidth: 270px;
$wrappermargin: 50px;

.wrapper {
    width: calc(#{$secwidth} + #{$headerwidth} + #{$wrappermargin});
    min-width: calc(#{$secminwidth} + #{$headerwidth} + #{$wrappermargin});
    max-width: calc(#{$secmaxwidth} + #{$headerwidth} + #{$wrappermargin});
}

section {
    width: calc(#{$secwidth});
    min-width: calc(#{$secminwidth});
    max-width: calc(#{$secmaxwidth});
}

@media print, screen and (max-width: 960px) {
    body { padding: 15px; }
    div.wrapper { width: auto; min-width: auto; max-width: auto; }
    header, section, footer { width: calc(100vw - 50px); }
}
