---
layout: default
---

<h1>{{ page.name }}</h1>
<h3>{{ page.title }} in the {{ page.dept }} Department.</h3>

{% if page.webpage %}
<p><a href="{{ page.webpage }}">Personal webpage.</a></p>
{% endif %}

{% if page.image %}
<img src="{{ page.image | absolute_url }}" alt="{{page.name}}" class="person" style="height: 300px !important" />
{% endif %}

<p>{{ content }}</p>

<h2>CORGi Projects</h2>

{% for project in site.projects %}
    {% if page.projects contains project.tag %}

<h3><a href="{{project.url}}">{{ project.title }}</a></h3>

    {% endif %}
{% endfor %}


{% capture publist %}
    {% for pub_hash in site.data.publications %}
        {% assign pub = pub_hash[1] %}
        {% if pub.authors contains page.tag %}
            {% include publication.md pub_hash=pub_hash %}
        {% endif %}
    {% endfor %}
{% endcapture %}

{% assign publistSize = publist | strip | size %}
{% if publistSize > 0 %}
<h2>CORGi Publications</h2>

{{ publist | markdownify }}

{% endif %}
